*{
	margin: 0px;
	padding: 0px;
}





.bi{
  width: 100vw;
  height: 100vh;
  display: block;
  margin: auto;
  z-index: 1;
  }

.container{
  display: block;
  margin: auto;
}

.shapka{
	width: 100%;
	height: 800px;
	display: block;
	margin: auto;
	position: fixed;
  z-index: 2;
}
.mesto{
  height: 100vh;
}
.info{
	width: 100%;
	height: 200vh;
	position: relative;
	margin: auto;
	background-color: white;
  z-index: 3;
}

.podval{
	width: 100%;
	height: 20vh;
	background-color: Gray;
  z-index: 6;
  position: relative;
}

.predslider{
  width: 50vw;
  height: 55px;
  margin: auto;
  text-align: center;

}

.predslidertext{
  font-size: 30px;
  color: black;
  padding-top: 10px;
}

/* Слайдер */


    .slider {
      position: relative;
      overflow: hidden;
      width: 80%;
      height: 80vh;
      margin-left: auto;
      margin-right: auto;
      z-index: 4;
    }

    /* стили для обёртки, в которой заключены слайды */
    .slider__wrapper {
      position: relative;
      overflow: hidden;
    }

    /* стили для контейнера слайдов */
    .slider__items {
      display: flex;
      transition: transform 0.6s ease;
    }

    /* стили для слайдов */
    .slider__item {
      flex: 0 0 100%;
      max-width: 100%;
    }

 
    /* стили для индикаторов */
    .slider__indicators {

      position: absolute;
      right: 0;
      bottom: 10px;
      left: 0;
      z-index: 15;
      display: flex;
      justify-content: center;
      padding-left: 0;
      margin-right: 15%;
      margin-left: 15%;
      list-style: none;
      margin-top: 0;
      margin-bottom: 0;
    }

    .slider__indicators li {

      box-sizing: content-box;
      flex: 0 1 auto;
      width: 10px;
      height: 10px;
      margin-right: 3px;
      margin-left: 3px;
      text-indent: -999px;
      cursor: pointer;
      background-color: black;
      background-clip: padding-box;
      border-radius: 100%;
      border-top: 10px solid transparent;
      border-bottom: 5px solid transparent;
    }

/*rgba(255, 255, 255, 0.5)*/
    .slider__indicators li.active {
      background-color: gray;
    }

    .img-fluid {
      width: 100vw;
      height: 80vh;
      background: #f7f5f5;
      display: inline-block;
      
      max-width: 100%;
    }

    .project{
      width: 80%;
      height: 350px;
      background: red;
      margin:auto;
     
    }

    /*
    .project:hover{
       -o-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -webkit-transform: translateY(-20px);  
  transform: translateY(-20px);
    }
    */
    .MenuMinProject{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
  }

    .minProject{
      width: 20%;
      height: 40%;
      background: red;
      display: inline-block;
      margin: 5px;
    }
/* ХУЯ - нихуя*/